<!--<section class="oe_container oe_mt32">-->
<!--    <p style="font-size:15px;font-weight:bold">-->
<!--    </p>-->

<!--</section>-->


<section class="oe_container oe_mt32">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Integrate Your Odoo System With Paylink Payment Gateway</h2>
    </div>
</section>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<section class="oe_container oe_mt32">
    <div class="oe_row oe_spaced">
        
        <div class="oe_span12 text-center">
            <div class="oe_demo oe_picture oe_screenshot">
                <img class='img-responsive' src="Screenshot from 2023-12-16 15-32-38.png">
            </div>

        </div>
    </div>
</section>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<section class="oe_container oe_mt32">
    <div class="oe_row oe_spaced">
        
        <div class="oe_span12 text-center">
            <div class="oe_demo oe_picture oe_screenshot">
                <img class='img-responsive' src="Screenshot from 2023-12-16 15-35-15.png">
            </div>

        </div>
    </div>
</section>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<section class="oe_container oe_mt32">
    <div class="oe_row oe_spaced">
        
        <div class="oe_span12 text-center">
            <div class="oe_demo oe_picture oe_screenshot">
                <img class='img-responsive' src="Screenshot from 2023-12-16 15-35-38.png">
            </div>

        </div>
    </div>
</section>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<section class="oe_container oe_mt32">
    <div class="oe_row oe_spaced">
        
        <div class="oe_span12 text-center">
            <div class="oe_demo oe_picture oe_screenshot">
                <img class='img-responsive' src="Screenshot from 2023-12-16 15-36-54.png">
            </div>

        </div>
    </div>
</section>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<section class="oe_container oe_mt32">
    <div class="oe_row oe_spaced">
        
        <div class="oe_span12 text-center">
            <div class="oe_demo oe_picture oe_screenshot">
                <img class='img-responsive' src="Screenshot from 2023-12-16 15-38-39.png">
            </div>

        </div>
    </div>
</section>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<section class="oe_container oe_mt32">
    <div class="oe_row oe_spaced">
        
        <div class="oe_span12 text-center">
            <div class="oe_demo oe_picture oe_screenshot">
                <img class='img-responsive' src="Screenshot from 2023-12-16 15-38-53.png">
            </div>

        </div>
    </div>
</section>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<section class="oe_container oe_mt32">
    <div class="oe_row oe_spaced">
        
        <div class="oe_span12 text-center">
            <div class="oe_demo oe_picture oe_screenshot">
                <img class='img-responsive' src="Screenshot from 2023-12-16 15-39-16.png">
            </div>

        </div>
    </div>
</section>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<section class="oe_container oe_mt32">
    <div class="oe_row oe_spaced">
        
        <div class="oe_span12 text-center">
            <div class="oe_demo oe_picture oe_screenshot">
                <img class='img-responsive' src="Screenshot from 2023-12-16 15-40-04.png">
            </div>

        </div>
    </div>
</section>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<section class="oe_container oe_mt32">
    <div class="oe_row oe_spaced">
        
        <div class="oe_span12 text-center">
            <div class="oe_demo oe_picture oe_screenshot">
                <img class='img-responsive' src="Screenshot from 2023-12-16 15-41-01.png">
            </div>

        </div>
    </div>
</section>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<section class="oe_container oe_mt32">
    <div class="oe_row oe_spaced">
        
        <div class="oe_span12 text-center">
            <div class="oe_demo oe_picture oe_screenshot">
                <img class='img-responsive' src="Screenshot from 2023-12-16 15-42-13.png">
            </div>

        </div>
    </div>
</section>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
