<section class="" style=" border-radius: 16px;">
    <section class="mb-5 bizople_partner_logo" style="padding:35px; background-color: #1b1b1b; border-radius: 16px;">
        <div class="row justify-content-md-between justify-content-center align-items-center py-2 mx-0">
          <div>
            <a href="https://www.bizople.com/" style="text-decoration:none;">
              <img class="img img-fluid" style="height: 80px; text-align: center;" src="bizople-white-logo.png"></img>
            </a>
          </div>
          <div class="s_btn text-center pt0" data-name="Button">
            <a href="#" target="_blank" class="mx-1 btn btn-primary btn-lg" style="background-color: #0097a7; border: 1px solid #0097a7; color:white; font-family: Montserrat;"> <i class="fa fa-check-square-o"></i> Community</a>
      
            <a href="mailto:info@bizople.com" class="mx-1 btn btn-primary btn-lg" style="background-color: #0097a7; border: 1px solid #0097a7; color:white; font-family: Montserrat;">Email Us</a>

            <a href="skype:live:bizoples?chat" class="mx-1 btn btn-primary btn-lg" style="background-color: #0097a7; border: 1px solid #0097a7; color:white; font-family: Montserrat;">Skype</a>
          </div>
          <div>
            <img class="img img-fluid" style="height: 80px; text-align: center;" src="odoo_ready_partner_logo.png"></img>
          </div>
        </div>
    </section>
    
    <div class="index-main-banner text-center" >
        <div class="gif-image">
            <img class="img img-fluid" style="text-align:center; border-radius: 16px;" src="Index-main-banner.jpg"/>
        </div>

        <section class="youtube-banner px-4 py-5 mt-4 s_panel_video" style="background-color: #0081a5; border-radius: 16px;" data-video-id="WK7d5aTfu9A">
            <div class="row align-items-center">
                <div class="col-lg-6 mb-4 mb-lg-0" style="text-align: left;">
                    <img class="img img-fluid mb-3" src="Spiffy-full-white.png" style="width: 200px;"/>

                    <h2 class="mb-3" style="font-size: 24px; color: #ffffff; font-weight: 400;">Take a step forward with Spiffy theme and a new appereance of Odoo Backend.</h2>

                    <a href="https://bit.ly/spiffy16" class="px-3 mb-4 btn d-inline-flex align-items-center rounded-pill " style="background-color:#ffffff !important; color: #0081a5 !important; border-color:#ffffff !important; font-size: 31px; font-weight: 700; padding: 5px 30px;">
                        Explore Live Demo
                    </a>

                    <div class="text-left">
                        <img class="img img-fluid mb-3" src="spiffy-qr-code.png" style="width: 200px;" />
                    </div>

                    <div class="d-lg-flex align-items-center">
                        <div class="mb-2 me-3">
                            <a href="mailto:sales@bizople.com" class="d-flex align-items-center text-white" style="font-size: 18px;">
                                <img class="img img-fluid me-2" src="mail-send-line.png" style="width: 22px;"/>
                                <span class="text-white">sales@bizople.com</span>
                            </a>
                        </div>
                        <div class="mb-2 me-3">
                            <a href="skype:live:bizoples?chat" class="d-flex align-items-center text-white" style="font-size: 18px;">
                                <img class="img img-fluid me-2" src="skype-line.png" style="width: 22px;"/>
                                <span class="text-white">bizoples</span>
                            </a>
                        </div>
                        <div class="mb-2">
                            <a href="tel:+91886664236" class="d-flex align-items-center text-white" style="font-size: 18px;">
                                <img class="img img-fluid me-2" src="phone-line.png" style="width: 22px;"/>
                                <span class="text-white">+91886664236</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <a href="#" class="s_figure_link">
                        <img class="img img-fluid shadow" style="text-align:center; border-radius: 16px;" src="youtube-banner.jpg"/>
                    </a>
                </div>
            </div>
        </section>

        <div class="main-feature-banner p-5 text-center">
            <h2 class="mb-5 w-75 mx-lg-auto" style="font-size: 40px; color: #0081a5;">Enhance your Productivity with the Advance Key Features</h2>
            <img class="img img-fluid" style="text-align:center" src="feature-banner-no-split-view.png"/>
        </div>
    </div>
</section>

<section class="my-4 index-enterprise">
    <div class="spiffy-enterprise-banner text-center">
        <a href="https://apps.odoo.com/apps/themes/16.0/spiffy_theme_backend_ent/">
            <img class="img img-fluid" style="text-align:center; border-radius: 16px;" src="spiffy-enterprise.png" />
        </a>
    </div>
</section>

<section class="index-tabs mt-4" style=" border-radius: 16px;">
    <ul class="nav nav-tabs justify-content-center bg-white mb-5 d-none" id="myTab" role="tablist" style="border-bottom:1px solid #CFCFCF;">
        <li class="nav-item">
            <a class="nav-link active" id="spiffy-main-features" data-bs-toggle="tab" href="#main-features" role="tab" style="color:#1b1b1b;">Features</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="spiffy-faq" data-bs-toggle="tab" href="#faq" role="tab" style="color:#1b1b1b;">FAQs</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="spiffy-release-note" data-bs-toggle="tab" href="#release-note" role="tab" style="color:#1b1b1b;">Release Notes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="spiffy-contact" data-bs-toggle="tab" href="#contact" role="tab" style="color:#1b1b1b;">Contact Us</a>
        </li>
    </ul>
    <div class="tab-content" id="spiffy-index-tabs">
        <div class="tab-pane fade show active" id="main-features" role="tabpanel">
            <img class="img img-fluid shadow-sm mb-4" style="text-align:center; border-radius: 16px;" src="theme-style.gif"/>

            <img class="img img-fluid shadow-sm mb-4" style="text-align:center; border-radius: 16px;" src="theme-color.gif"/>

            <img class="img img-fluid shadow-sm mb-4" style="text-align:center; border-radius: 16px;" src="index-responsive.jpg"/>

            <img class="img img-fluid shadow-sm mb-4" style="text-align:center; border-radius: 16px;" src="spiffy-index-pwa.jpg"/>
            
            <img class="img img-fluid shadow-sm mb-4" style="text-align:center; border-radius: 16px;" src="rtl-support.jpg"/>

            <img class="img img-fluid shadow-sm mb-4" style="text-align:center; border-radius: 16px;" src="multi-tab.gif"/>

            <img class="img img-fluid shadow-sm mb-4" style="text-align:center; border-radius: 16px;" src="chatter-attachment-in-list.gif"/>

            <img class="img img-fluid shadow-sm mb-4" style="text-align:center; border-radius: 16px;" src="app-drawer.jpg"/>

            <img class="img img-fluid shadow-sm mb-4" style="text-align:center; border-radius: 16px;" src="drawer-global-search.gif"/>

            <img class="img img-fluid shadow-sm mb-4" style="text-align:center; border-radius: 16px;" src="top-menu-position.gif"/>

            <img class="img img-fluid shadow-sm mb-4" style="text-align:center; border-radius: 16px;" src="darklight-pin-unpin.gif"/>

            <img class="img img-fluid shadow-sm mb-4" style="text-align:center; border-radius: 16px;" src="branding.gif"/>

            <!-- <img class="img img-fluid shadow-sm mb-4" style="text-align:center; border-radius: 16px;" src="split-view.gif"/> -->

            <img class="img img-fluid shadow-sm mb-4" style="text-align:center; border-radius: 16px;" src="zoom-fullscreen.gif"/>

            <img class="img img-fluid shadow-sm mb-4" style="text-align:center; border-radius: 16px;" src="bookmark.gif"/>

            <img class="img img-fluid shadow-sm mb-4" style="text-align:center; border-radius: 16px;" src="fav-apps.gif"/>

            <img class="img img-fluid shadow-sm mb-4" style="text-align:center; border-radius: 16px;" src="app-icon-config.gif"/>

            <img class="img img-fluid shadow-sm mb-4" style="text-align:center; border-radius: 16px;" src="refresh-btn.gif"/>

            <img class="img img-fluid shadow-sm mb-4" style="text-align:center; border-radius: 16px;" src="separator-tab-popup-styles.jpg"/>

            <img class="img img-fluid shadow-sm mb-4" style="text-align:center; border-radius: 16px;" src="loaders-fontfamily.gif"/>

            <img class="img img-fluid shadow-sm mb-4" style="text-align:center; border-radius: 16px;" src="fontsize-radio-checkbox.jpg"/>

            <img class="img img-fluid shadow-sm mb-4" style="text-align:center; border-radius: 16px;" src="loginpage.gif"/>

            <img class="img img-fluid shadow-sm mb-4" style="text-align:center; border-radius: 16px;" src="lang-company-debug.jpg"/>

            <img class="img img-fluid shadow-sm mb-4" style="text-align:center; border-radius: 16px;" src="user-level.jpg"/>
            
        </div>
    </div>
</section>

<section class="index-all-features" style=" border-radius: 16px;">
    <div class="all-feature-title text-center">
        <h2 class="mb-5 w-75 mx-lg-auto" style="font-size: 40px; color: #0097a7;">All Features</h2>
    </div>
    <div class="container">
        <div class="row">
            <!-- DUMMY COL FOR FEATURE PILL -->
            <!-- <div class="col-md-6 col-lg-4 col-xl-3 px-2 my-2">
                <div class="align-content-center d-flex p-3 rounded-pill shadow-sm" style="font-size: 16px; background-color: #0097A7; color: #fff;">
                    <span style="min-width: 50px; height: 50px; line-height: 50px;" class="bg-white rounded-circle shadow-sm text-center">
                        <img class="img img-fluid" style="width: 40px; height: 40px; object-fit: contain;" src="feature-brush-line.png" />
                        <span class="" style="font-size: 24px; color: #0097A7;"">1.</span>
                    </span>
                    <span class="align-content-center d-flex flex-column flex-fill px-3 my-auto">
                        <span class="">3 in 1 Theme Styles</span>
                    </span>
                </div>
            </div> -->
            <div class="col-md-6 col-lg-4 col-xl-3 px-2 my-2">
                <div class="align-content-center d-flex p-3 rounded-pill shadow-sm" style="font-size: 16px; background-color: #0097A7; color: #fff;">
                    <span style="min-width: 50px; height: 50px; line-height: 50px;" class="bg-white rounded-circle shadow-sm text-center">
                        <span class="" style="font-size: 24px; color: #0097A7;">1.</span>
                    </span>
                    <span class="align-content-center d-flex flex-column flex-fill px-3 my-auto">
                        <span class="">3 in 1 Theme Styles</span>
                    </span>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 px-2 my-2">
                <div class="align-content-center d-flex p-3 rounded-pill shadow-sm" style="font-size: 16px; background-color: #0097A7; color: #fff;">
                    <span style="min-width: 50px; height: 50px; line-height: 50px;" class="bg-white rounded-circle shadow-sm text-center">
                        <span class="" style="font-size: 24px; color: #0097A7;">2.</span>
                    </span>
                    <span class="align-content-center d-flex flex-column flex-fill px-3 my-auto">
                        <span class="">Chatter Box Position</span>
                    </span>
                </div>
            </div>
            <!-- <div class="col-md-6 col-lg-4 col-xl-3 px-2 my-2">
                <div class="align-content-center d-flex p-3 rounded-pill shadow-sm" style="font-size: 16px; background-color: #0097A7; color: #fff;">
                    <span style="min-width: 50px; height: 50px; line-height: 50px;" class="bg-white rounded-circle shadow-sm text-center">
                        <span class="" style="font-size: 24px; color: #0097A7;"">3.</span>
                    </span>
                    <span class="align-content-center d-flex flex-column flex-fill px-3 my-auto">
                        <span class="">Tree-Form Split View</span>
                    </span>
                </div>
            </div> -->
            <div class="col-md-6 col-lg-4 col-xl-3 px-2 my-2">
                <div class="align-content-center d-flex p-3 rounded-pill shadow-sm" style="font-size: 16px; background-color: #0097A7; color: #fff;">
                    <span style="min-width: 50px; height: 50px; line-height: 50px;" class="bg-white rounded-circle shadow-sm text-center">
                        <span class="" style="font-size: 24px; color: #0097A7;">3.</span>
                    </span>
                    <span class="align-content-center d-flex flex-column flex-fill px-3 my-auto">
                        <span class="">Attachment in List View</span>
                    </span>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 px-2 my-2">
                <div class="align-content-center d-flex p-3 rounded-pill shadow-sm" style="font-size: 16px; background-color: #0097A7; color: #fff;">
                    <span style="min-width: 50px; height: 50px; line-height: 50px;" class="bg-white rounded-circle shadow-sm text-center">
                        <span class="" style="font-size: 24px; color: #0097A7;">4.</span>
                    </span>
                    <span class="align-content-center d-flex flex-column flex-fill px-3 my-auto">
                        <span class="">Vertical/Horizontal Menu Style</span>
                    </span>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 px-2 my-2">
                <div class="align-content-center d-flex p-3 rounded-pill shadow-sm" style="font-size: 16px; background-color: #0097A7; color: #fff;">
                    <span style="min-width: 50px; height: 50px; line-height: 50px;" class="bg-white rounded-circle shadow-sm text-center">
                        <span class="" style="font-size: 24px; color: #0097A7;">5.</span>
                    </span>
                    <span class="align-content-center d-flex flex-column flex-fill px-3 my-auto">
                        <span class="">4 Seprator Styles</span>
                    </span>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 px-2 my-2">
                <div class="align-content-center d-flex p-3 rounded-pill shadow-sm" style="font-size: 16px; background-color: #0097A7; color: #fff;">
                    <span style="min-width: 50px; height: 50px; line-height: 50px;" class="bg-white rounded-circle shadow-sm text-center">
                        <span class="" style="font-size: 24px; color: #0097A7;"">6.</span>
                    </span>
                    <span class="align-content-center d-flex flex-column flex-fill px-3 my-auto">
                        <span class="">4 Tab Style</span>
                    </span>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 px-2 my-2">
                <div class="align-content-center d-flex p-3 rounded-pill shadow-sm" style="font-size: 16px; background-color: #0097A7; color: #fff;">
                    <span style="min-width: 50px; height: 50px; line-height: 50px;" class="bg-white rounded-circle shadow-sm text-center">
                        <span class="" style="font-size: 24px; color: #0097A7;"">7.</span>
                    </span>
                    <span class="align-content-center d-flex flex-column flex-fill px-3 my-auto">
                        <span class="">4 Checkbox Style</span>
                    </span>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 px-2 my-2">
                <div class="align-content-center d-flex p-3 rounded-pill shadow-sm" style="font-size: 16px; background-color: #0097A7; color: #fff;">
                    <span style="min-width: 50px; height: 50px; line-height: 50px;" class="bg-white rounded-circle shadow-sm text-center">
                        <span class="" style="font-size: 24px; color: #0097A7;"">8.</span>
                    </span>
                    <span class="align-content-center d-flex flex-column flex-fill px-3 my-auto">
                        <span class="">4 Radio Style</span>
                    </span>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 px-2 my-2">
                <div class="align-content-center d-flex p-3 rounded-pill shadow-sm" style="font-size: 16px; background-color: #0097A7; color: #fff;">
                    <span style="min-width: 50px; height: 50px; line-height: 50px;" class="bg-white rounded-circle shadow-sm text-center">
                        <span class="" style="font-size: 24px; color: #0097A7;"">9.</span>
                    </span>
                    <span class="align-content-center d-flex flex-column flex-fill px-3 my-auto">
                        <span class="">4 Popup Animations</span>
                    </span>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 px-2 my-2">
                <div class="align-content-center d-flex p-3 rounded-pill shadow-sm" style="font-size: 16px; background-color: #0097A7; color: #fff;">
                    <span style="min-width: 50px; height: 50px; line-height: 50px;" class="bg-white rounded-circle shadow-sm text-center">
                        <span class="" style="font-size: 24px; color: #0097A7;">10.</span>
                    </span>
                    <span class="align-content-center d-flex flex-column flex-fill px-3 my-auto">
                        <span class="">9 Theme Color Pallets</span>
                    </span>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 px-2 my-2">
                <div class="align-content-center d-flex p-3 rounded-pill shadow-sm" style="font-size: 16px; background-color: #0097A7; color: #fff;">
                    <span style="min-width: 50px; height: 50px; line-height: 50px;" class="bg-white rounded-circle shadow-sm text-center">
                        <span class="" style="font-size: 24px; color: #0097A7;">11.</span>
                    </span>
                    <span class="align-content-center d-flex flex-column flex-fill px-3 my-auto">
                        <span class="">Custom Theme Color option</span>
                    </span>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 px-2 my-2">
                <div class="align-content-center d-flex p-3 rounded-pill shadow-sm" style="font-size: 16px; background-color: #0097A7; color: #fff;">
                    <span style="min-width: 50px; height: 50px; line-height: 50px;" class="bg-white rounded-circle shadow-sm text-center">
                        <span class="" style="font-size: 24px; color: #0097A7;">12.</span>
                    </span>
                    <span class="align-content-center d-flex flex-column flex-fill px-3 my-auto">
                        <span class="">9 App Drawer Color Pallet</span>
                    </span>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 px-2 my-2">
                <div class="align-content-center d-flex p-3 rounded-pill shadow-sm" style="font-size: 16px; background-color: #0097A7; color: #fff;">
                    <span style="min-width: 50px; height: 50px; line-height: 50px;" class="bg-white rounded-circle shadow-sm text-center">
                        <span class="" style="font-size: 24px; color: #0097A7;">13.</span>
                    </span>
                    <span class="align-content-center d-flex flex-column flex-fill px-3 my-auto">
                        <span class="">Custom App Drawer Color</span>
                    </span>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 px-2 my-2">
                <div class="align-content-center d-flex p-3 rounded-pill shadow-sm" style="font-size: 16px; background-color: #0097A7; color: #fff;">
                    <span style="min-width: 50px; height: 50px; line-height: 50px;" class="bg-white rounded-circle shadow-sm text-center">
                        <span class="" style="font-size: 24px; color: #0097A7;">14.</span>
                    </span>
                    <span class="align-content-center d-flex flex-column flex-fill px-3 my-auto">
                        <span class="">13 Unique Font Styles</span>
                    </span>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 px-2 my-2">
                <div class="align-content-center d-flex p-3 rounded-pill shadow-sm" style="font-size: 16px; background-color: #0097A7; color: #fff;">
                    <span style="min-width: 50px; height: 50px; line-height: 50px;" class="bg-white rounded-circle shadow-sm text-center">
                        <span class="" style="font-size: 24px; color: #0097A7;">15.</span>
                    </span>
                    <span class="align-content-center d-flex flex-column flex-fill px-3 my-auto">
                        <span class="">Font Sizes</span>
                    </span>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 px-2 my-2">
                <div class="align-content-center d-flex p-3 rounded-pill shadow-sm" style="font-size: 16px; background-color: #0097A7; color: #fff;">
                    <span style="min-width: 50px; height: 50px; line-height: 50px;" class="bg-white rounded-circle shadow-sm text-center">
                        <span class="" style="font-size: 24px; color: #0097A7;">16.</span>
                    </span>
                    <span class="align-content-center d-flex flex-column flex-fill px-3 my-auto">
                        <span class="">10 Loading Icons</span>
                    </span>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 px-2 my-2">
                <div class="align-content-center d-flex p-3 rounded-pill shadow-sm" style="font-size: 16px; background-color: #0097A7; color: #fff;">
                    <span style="min-width: 50px; height: 50px; line-height: 50px;" class="bg-white rounded-circle shadow-sm text-center">
                        <span class="" style="font-size: 24px; color: #0097A7;">17.</span>
                    </span>
                    <span class="align-content-center d-flex flex-column flex-fill px-3 my-auto">
                        <span class="">4 Login Page Designs</span>
                    </span>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 px-2 my-2">
                <div class="align-content-center d-flex p-3 rounded-pill shadow-sm" style="font-size: 16px; background-color: #0097A7; color: #fff;">
                    <span style="min-width: 50px; height: 50px; line-height: 50px;" class="bg-white rounded-circle shadow-sm text-center">
                        <span class="" style="font-size: 24px; color: #0097A7;">18.</span>
                    </span>
                    <span class="align-content-center d-flex flex-column flex-fill px-3 my-auto">
                        <span class="">Configurable App Icons</span>
                    </span>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 px-2 my-2">
                <div class="align-content-center d-flex p-3 rounded-pill shadow-sm" style="font-size: 16px; background-color: #0097A7; color: #fff;">
                    <span style="min-width: 50px; height: 50px; line-height: 50px;" class="bg-white rounded-circle shadow-sm text-center">
                        <span class="" style="font-size: 24px; color: #0097A7;">19.</span>
                    </span>
                    <span class="align-content-center d-flex flex-column flex-fill px-3 my-auto">
                        <span class="">Global Search</span>
                    </span>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 px-2 my-2">
                <div class="align-content-center d-flex p-3 rounded-pill shadow-sm" style="font-size: 16px; background-color: #0097A7; color: #fff;">
                    <span style="min-width: 50px; height: 50px; line-height: 50px;" class="bg-white rounded-circle shadow-sm text-center">
                        <span class="" style="font-size: 24px; color: #0097A7;">20.</span>
                    </span>
                    <span class="align-content-center d-flex flex-column flex-fill px-3 my-auto">
                        <span class="">Full Screen</span>
                    </span>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 px-2 my-2">
                <div class="align-content-center d-flex p-3 rounded-pill shadow-sm" style="font-size: 16px; background-color: #0097A7; color: #fff;">
                    <span style="min-width: 50px; height: 50px; line-height: 50px;" class="bg-white rounded-circle shadow-sm text-center">
                        <span class="" style="font-size: 24px; color: #0097A7;">21.</span>
                    </span>
                    <span class="align-content-center d-flex flex-column flex-fill px-3 my-auto">
                        <span class="">Zoom In / Zoom Out</span>
                    </span>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 px-2 my-2">
                <div class="align-content-center d-flex p-3 rounded-pill shadow-sm" style="font-size: 16px; background-color: #0097A7; color: #fff;">
                    <span style="min-width: 50px; height: 50px; line-height: 50px;" class="bg-white rounded-circle shadow-sm text-center">
                        <span class="" style="font-size: 24px; color: #0097A7;">22.</span>
                    </span>
                    <span class="align-content-center d-flex flex-column flex-fill px-3 my-auto">
                        <span class="">Bookmarks</span>
                    </span>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 px-2 my-2">
                <div class="align-content-center d-flex p-3 rounded-pill shadow-sm" style="font-size: 16px; background-color: #0097A7; color: #fff;">
                    <span style="min-width: 50px; height: 50px; line-height: 50px;" class="bg-white rounded-circle shadow-sm text-center">
                        <span class="" style="font-size: 24px; color: #0097A7;">23.</span>
                    </span>
                    <span class="align-content-center d-flex flex-column flex-fill px-3 my-auto">
                        <span class="">Dark/Light Mode</span>
                    </span>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 px-2 my-2">
                <div class="align-content-center d-flex p-3 rounded-pill shadow-sm" style="font-size: 16px; background-color: #0097A7; color: #fff;">
                    <span style="min-width: 50px; height: 50px; line-height: 50px;" class="bg-white rounded-circle shadow-sm text-center">
                        <span class="" style="font-size: 24px; color: #0097A7;">24.</span>
                    </span>
                    <span class="align-content-center d-flex flex-column flex-fill px-3 my-auto">
                        <span class="">Language Selector</span>
                    </span>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 px-2 my-2">
                <div class="align-content-center d-flex p-3 rounded-pill shadow-sm" style="font-size: 16px; background-color: #0097A7; color: #fff;">
                    <span style="min-width: 50px; height: 50px; line-height: 50px;" class="bg-white rounded-circle shadow-sm text-center">
                        <span class="" style="font-size: 24px; color: #0097A7;">25.</span>
                    </span>
                    <span class="align-content-center d-flex flex-column flex-fill px-3 my-auto">
                        <span class="">Company Selector</span>
                    </span>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 px-2 my-2">
                <div class="align-content-center d-flex p-3 rounded-pill shadow-sm" style="font-size: 16px; background-color: #0097A7; color: #fff;">
                    <span style="min-width: 50px; height: 50px; line-height: 50px;" class="bg-white rounded-circle shadow-sm text-center">
                        <span class="" style="font-size: 24px; color: #0097A7;">26.</span>
                    </span>
                    <span class="align-content-center d-flex flex-column flex-fill px-3 my-auto">
                        <span class="">Lock/Unlock Sidebar</span>
                    </span>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 px-2 my-2">
                <div class="align-content-center d-flex p-3 rounded-pill shadow-sm" style="font-size: 16px; background-color: #0097A7; color: #fff;">
                    <span style="min-width: 50px; height: 50px; line-height: 50px;" class="bg-white rounded-circle shadow-sm text-center">
                        <span class="" style="font-size: 24px; color: #0097A7;">27.</span>
                    </span>
                    <span class="align-content-center d-flex flex-column flex-fill px-3 my-auto">
                        <span class="">Debug Activator</span>
                    </span>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 px-2 my-2">
                <div class="align-content-center d-flex p-3 rounded-pill shadow-sm" style="font-size: 16px; background-color: #0097A7; color: #fff;">
                    <span style="min-width: 50px; height: 50px; line-height: 50px;" class="bg-white rounded-circle shadow-sm text-center">
                        <span class="" style="font-size: 24px; color: #0097A7;">28.</span>
                    </span>
                    <span class="align-content-center d-flex flex-column flex-fill px-3 my-auto">
                        <span class="">RTL Supported</span>
                    </span>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 px-2 my-2">
                <div class="align-content-center d-flex p-3 rounded-pill shadow-sm" style="font-size: 16px; background-color: #0097A7; color: #fff;">
                    <span style="min-width: 50px; height: 50px; line-height: 50px;" class="bg-white rounded-circle shadow-sm text-center">
                        <span class="" style="font-size: 24px; color: #0097A7;">29.</span>
                    </span>
                    <span class="align-content-center d-flex flex-column flex-fill px-3 my-auto">
                        <span class="">User Access (User/Global)</span>
                    </span>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 px-2 my-2">
                <div class="align-content-center d-flex p-3 rounded-pill shadow-sm" style="font-size: 16px; background-color: #0097A7; color: #fff;">
                    <span style="min-width: 50px; height: 50px; line-height: 50px;" class="bg-white rounded-circle shadow-sm text-center">
                        <span class="" style="font-size: 24px; color: #0097A7;">30.</span>
                    </span>
                    <span class="align-content-center d-flex flex-column flex-fill px-3 my-auto">
                        <span class="">Greetings on Menubar</span>
                    </span>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 px-2 my-2">
                <div class="align-content-center d-flex p-3 rounded-pill shadow-sm" style="font-size: 16px; background-color: #0097A7; color: #fff;">
                    <span style="min-width: 50px; height: 50px; line-height: 50px;" class="bg-white rounded-circle shadow-sm text-center">
                        <span class="" style="font-size: 24px; color: #0097A7;">31.</span>
                    </span>
                    <span class="align-content-center d-flex flex-column flex-fill px-3 my-auto">
                        <span class="">Custom Branding</span>
                    </span>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 px-2 my-2">
                <div class="align-content-center d-flex p-3 rounded-pill shadow-sm" style="font-size: 16px; background-color: #0097A7; color: #fff;">
                    <span style="min-width: 50px; height: 50px; line-height: 50px;" class="bg-white rounded-circle shadow-sm text-center">
                        <span class="" style="font-size: 24px; color: #0097A7;">32.</span>
                    </span>
                    <span class="align-content-center d-flex flex-column flex-fill px-3 my-auto">
                        <span class="">PWA with Shortcuts</span>
                    </span>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 px-2 my-2">
                <div class="align-content-center d-flex p-3 rounded-pill shadow-sm" style="font-size: 16px; background-color: #0097A7; color: #fff;">
                    <span style="min-width: 50px; height: 50px; line-height: 50px;" class="bg-white rounded-circle shadow-sm text-center">
                        <span class="" style="font-size: 24px; color: #0097A7;">33.</span>
                    </span>
                    <span class="align-content-center d-flex flex-column flex-fill px-3 my-auto">
                        <span class="">Favorite App Island</span>
                    </span>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 px-2 my-2">
                <div class="align-content-center d-flex p-3 rounded-pill shadow-sm" style="font-size: 16px; background-color: #0097A7; color: #fff;">
                    <span style="min-width: 50px; height: 50px; line-height: 50px;" class="bg-white rounded-circle shadow-sm text-center">
                        <span class="" style="font-size: 24px; color: #0097A7;">34.</span>
                    </span>
                    <span class="align-content-center d-flex flex-column flex-fill px-3 my-auto">
                        <span class="">Refresh Button</span>
                    </span>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 px-2 my-2">
                <div class="align-content-center d-flex p-3 rounded-pill shadow-sm" style="font-size: 16px; background-color: #0097A7; color: #fff;">
                    <span style="min-width: 50px; height: 50px; line-height: 50px;" class="bg-white rounded-circle shadow-sm text-center">
                        <span class="" style="font-size: 24px; color: #0097A7;">35.</span>
                    </span>
                    <span class="align-content-center d-flex flex-column flex-fill px-3 my-auto">
                        <span class="">Multiple Tab</span>
                    </span>
                </div>
            </div>
            <!-- <div class="col-md-6 col-lg-4 col-xl-3 px-2 my-2">
                <div class="align-content-center d-flex p-3 rounded-pill shadow-sm" style="font-size: 16px; background-color: #0097A7; color: #fff;">
                    <span style="min-width: 50px; height: 50px; line-height: 50px;" class="bg-white rounded-circle shadow-sm text-center">
                        <span class="" style="font-size: 24px; color: #0097A7;">36.</span>
                    </span>
                    <span class="align-content-center d-flex flex-column flex-fill px-3 my-auto">
                        <span class="">Tree-Form Split View</span>
                    </span>
                </div>
            </div> -->
        </div>
    </div>
</section>

<section class="index-services-support mt-5" style=" border-radius: 16px;">
    <p class="mb-5" style="font-size: 17px; text-align: center;">
        <b>Note:</b> This Product is developed and tested with Odoo Addons
    </p>
    <img class="img img-fluid mb-4" src="support_banner.jpg" style="border-radius:6px;"/>
    <img class="img img-fluid" src="service-banner.jpg" style="border-radius:6px;"/>
</section>

<section class="features-changelog-main mt-5 p-5 shadow-sm" style="background-color: white; border-radius: 16px;">
    <section id="changelog">
        <div class="log-title">
            <p style="font-size: 30px;">Release Notes</p>
        </div>
        <div class="log-details">
            <h3 class="mb-3 d-flex align-items-center w-100" style="font-size: 24px;color: #1b1b1b;font-weight: 600;"><span class="text-info">v16.0.0.2</span></h3>
            <p class="d-flex align-items-center w-100" style="color: #1b1b1b;font-size: 18px;"><span class="me-2 d-inline-block o_gradient_gamma" style="color: #ffffff;font-size: 14px; padding: 3px 10px 1px;vertical-align: middle;">Fixed</span>Minor bug fixes and improvements.</p>
            
            <h3 class="mb-3 d-flex align-items-center w-100" style="font-size: 24px;color: #1b1b1b;font-weight: 600;"><span class="text-info">v16.0.0.1</span></h3>
            <p class="d-flex align-items-center w-100" style="color: #1b1b1b;font-size: 18px;"><span class="me-2 d-inline-block o_gradient_alpha" style="color: #ffffff;font-size: 14px; padding: 3px 10px 1px;vertical-align: middle;">New</span>Multiple Tab</p>
            <p class="d-flex align-items-center w-100" style="color: #1b1b1b;font-size: 18px;"><span class="me-2 d-inline-block o_gradient_gamma" style="color: #ffffff;font-size: 14px; padding: 3px 10px 1px;vertical-align: middle;">Fixed</span>Minor bug fixes and improvements.</p>

            <h3 class="mb-3 d-flex align-items-center w-100" style="font-size: 24px;color: #1b1b1b;font-weight: 600;"><span class="text-info">v16.0.0.0</span></h3>
            <p class="d-flex align-items-center w-100" style="color: #1b1b1b;font-size: 18px;">Initial Release</p>
            
            <!-- o_gradient_gamma FOR FIXES -->
            <!-- o_gradient_alpha FOR NEW -->
            <!-- o_gradient_epsilon FOR UPDATES -->
            
            <!-- for update tag use this -->
            <!-- <p class="d-flex align-items-center w-100" style="color: #1b1b1b;font-size: 18px;"><span class="me-2 d-inline-block o_gradient" style="color: #ffffff;font-size: 14px; padding: 3px 10px 1px;vertical-align: middle;">Update</span>Initial Release</p> -->
        </div>
    </section>
</section>