body.o_web_client {
    background-color: var(--biz-theme-body-color) !important;
    color: var(--biz-theme-body-text-color) !important;
    .o_field_statusbar{
        > .o_statusbar_status{
            > .o_arrow_button{
                &.disabled{
                    border: 1px solid var(--biz-theme-primary-color) !important;
                    color: var(--biz-theme-secondary-text-color) !important;
                }
                &.o_arrow_button_current.disabled {
                    background-color: var(--biz-theme-primary-color) !important;
                    color: var(--biz-theme-primary-text-color) !important;
                    &:after, &:before {
                        border-left-color: var(--biz-theme-primary-color) !important;
                    }
                }
            }
        }
    }
    input[type="color"] {
        appearance: none;
        padding: 0;
        border: none;
        border-radius: var(--border-radius-lg);
        width: 25px;
        height: 25px;
        &::-webkit-color-swatch {
            border: none;
            border-radius: var(--border-radius-lg);
            padding: 0;
        }
        &::-webkit-color-swatch-wrapper {
            border: none;
            border-radius: var(--border-radius-lg);
            padding: 0;
        }
    }

    .o_main_navbar .o_menu_toggle, .o_main_navbar .o_navbar_apps_menu {
        font-size: inherit;
    }

    .o_DiscussSidebarItem_counter {
        background-color: var(--biz-theme-primary-color) !important;
        color: var(--biz-theme-primary-text-color) !important;
    }

    .o_loading_indicator {
        > span {
            background-color: var(--biz-theme-primary-color) !important;
        }
        background-color: var(--biz-theme-primary-color) !important;
    }

    .note-popover .popover .popover-body, .panel-heading.note-toolbar{
        background-color: var(--biz-theme-secondary-color)!important;
        color: var(--biz-theme-secondary-text-color)!important;
        .btn{
            background: var(--biz-theme-secondary-color)!important;
        }
    }
    .bs-popover-bottom > .popover-arrow::after, .bs-popover-auto[data-popper-placement^="bottom"] > .popover-arrow::after{
        border-bottom-color: var(--biz-theme-secondary-color);
    }

    .o_datepicker {
        .o_datepicker_button{
            top: 10px;
        }
    }

    .o_dropdown_menu, .dropdown-menu{
        background-color: var(--biz-theme-secondary-color)!important;
        border-color: var(--biz-theme-secondary-color)!important;
        color: var(--biz-theme-secondary-text-color)!important;
        border-radius: var(--border-radius-md) !important;
        .dropdown-item{
            color: var(--biz-theme-body-text-color)!important;
            &:hover, &:focus{
                background-color: var(--primary-rgba) !important;
                color: var(--biz-theme-primary-text-color) !important;
            }
        }
        .o_menu_item{
            > .dropdown-item{
                color: var(--biz-theme-body-text-color)!important;

                &:hover, &:focus{
                    background-color: var(--primary-rgba) !important;
                    color: var(--biz-theme-primary-text-color) !important;
                }
            }
        }
    }
    input, textarea{
        background-color: transparent !important;
        color: var(--biz-theme-body-text-color);

        &::placeholder, &:focus{
            color: var(--biz-theme-body-text-color);
        }
    }
    select{
        background-color: transparent !important;
        color: var(--biz-theme-body-text-color) !important;
        option{
            border-radius: var(--border-radius-md);
            color: var(--biz-theme-body-text-color)!important;
            background-color: var(--biz-theme-body-color);
        }
    }
    .o_input{
        min-height: var(--input-height);
        border: 1px solid #e4e6ef;
        border-radius: var(--border-radius-md);
        > .o_input {
            min-height: calc(var(--input-height) - 2px);
            border: 0 !important;
            padding: 0 !important;
        }
        &:focus{
            border-color: var(--primary-rgba)!important;
        }
    }
    .o_form_label.o_required_modifier{
        color: var(--biz-theme-primary-color);
    }
    .o_required_modifier.o_input, .o_required_modifier .o_input{
        border-color: var(--biz-theme-primary-color);
        background-color: transparent !important;
    }

    .o_field_property_definition .o_field_property_definition_type .o_input_dropdown input{
        background-position-y: 9px !important;
    }

    .o_field_invalid{
        .o_input{
            border-color: #dc3545 !important;
        }
    }

    .list-group-item-light, .list-group-item{
        background-color: var(--biz-theme-secondary-color) !important;
        color: var(--biz-theme-secondary-text-color) !important;
    }
    
    /* Many2one Field Suggestion options dropdown style */
    .ui-autocomplete{
        border-radius: var(--border-radius-lg);
        background-color: var(--biz-theme-body-color)!important;
        overflow: auto;
        .ui-menu-item{
            > a{
                color: var(--biz-theme-body-text-color) !important;
            }
            .ui-menu-item-wrapper{
                &.ui-state-active{
                    background-color: var(--biz-theme-primary-color) !important;
                    color: var(--biz-theme-primary-text-color) !important;
                }
            }
        }
    }

    .o_popover, .o_cw_popover, .o_PopoverView{
        background-color: var(--biz-theme-secondary-color);
        color: var(--biz-theme-secondary-text-color);
        border-radius: var(--border-radius-lg);
        .o_popover_header{
            border-top-left-radius: var(--border-radius-lg);
            border-top-right-radius: var(--border-radius-lg);
            background-color: var(--biz-theme-secondary-color);

        }
    }

    .o-tooltip{
        .o-tooltip--string{
            background-color: transparent;
        }
    }


    .o_cw_popover{
        background-color: var(--biz-theme-secondary-color);
        color: var(--biz-theme-secondary-text-color);
        border-radius: var(--border-radius-lg);

        .badge{
            span.o_badge_text{
                color: unset !important;
            }
        }
        .card-header{
            border-top-right-radius: var(--border-radius-lg);
            border-top-left-radius: var(--border-radius-lg);
        }
        .card-footer{
            border-bottom-right-radius: var(--border-radius-lg);
            border-bottom-left-radius: var(--border-radius-lg);
        }

        .card-header, .card-footer, .popover-header{
            background-color: var(--biz-theme-secondary-color) !important;
            color: var(--biz-theme-secondary-text-color) !important;
        }
        .o_cw_popover_close{
            color: var(--biz-theme-secondary-text-color) !important;
        }
    }

    .o_onboarding_container{
        .o_onboarding_main{
            border-radius: var(--border-radius-lg);
            .o_onboarding_step .o_onboarding_step_action{
                border-color: white !important;
            }
        }
    }
    .btn.o_select_file_button, .btn.o_clear_file_button{
        padding: 0.25rem !important;
    }

    .o_view_nocontent{
        background-image: radial-gradient(at 50% 50%, var(--biz-theme-secondary-color) 0px, var(--biz-theme-secondary-color) 100%);
        border-radius: var(--border-radius-lg);
        .o_nocontent_help{
            border-radius: var(--border-radius-lg);
            background-color: var(--biz-theme-body-color);
            color: var(--biz-theme-body-text-color);
            box-shadow: 0 0 120px 100px var(--biz-theme-secondary-color);

            > p:first-of-type{
                color: var(--biz-theme-body-text-color);
            }
        }
    }

    .o_content {
        .o_graph_renderer {
            padding: 30px 0 30px 0px !important;

            .o_graph_canvas_container canvas {
                background-color: transparent !important;
            }
        }

        .nav.nav-tabs {
            border-bottom: 0px !important;
            background-color: transparent;
            .nav-item {
                margin-bottom: 0;
                .nav-link {
                    padding: calc(.55rem + 1px) calc(1.25rem + 1px);
                    margin-right: 0.25rem;
                    font-weight: 500;
                }

            }
        }
    }


    /* All Btn Class style */
    
    .btn {
        border-radius: var(--border-radius-md) !important;
        padding: 0.6rem 1rem !important;

        &:hover{
            color: var(--biz-theme-primary-rgba);
        }
    }
    a{
        color: var(--biz-theme-primary-color);
    }

    .btn.btn-link {
        background-color: unset !important;
        color: var(--biz-theme-primary-color) !important;
        border: unset !important;
    }

    .btn-primary, .btn-fill-primary {
        background-color: var(--biz-theme-primary-color) !important;
        border-color: var(--biz-theme-primary-color) !important;
        color: var(--biz-theme-primary-text-color) !important;
        opacity: 0.9;

        &:hover {
            opacity: 1;
        }

        &:active {
            background-color: var(--biz-theme-primary-color) !important;
            color: var(--biz-theme-primary-text-color) !important;
            opacity: 1;
        }
    }
    .btn-outline-primary{
        color: var(--biz-theme-primary-color) !important;
        background-color: transparent !important;
        border:1px solid var(--biz-theme-primary-color) !important;
        &:hover{
            background-color: var(--biz-theme-primary-color) !important;
            color: var(--biz-theme-primary-text-color) !important;
        }
    }

    .btn-secondary, .btn-fill-secondary, .btn-light:not(.bookmark_tag), .btn-fill-light {
        background-color: var(--biz-theme-secondary-color) !important;
        color: var(--biz-theme-secondary-text-color) !important;
        opacity: 0.9;

        &:hover {
            background-color: var(--biz-theme-secondary-color) !important;
            color: var(--biz-theme-secondary-text-color) !important;
            opacity: 1;
        }

        &:active {
            background-color: var(--biz-theme-secondary-color) !important;
            color: var(--biz-theme-secondary-text-color) !important;
            opacity: 1;
        }
    }

    .badge{
        border-radius: var(--border-radius-md);
        &.text-primary{
            border: 1px solid var(--biz-theme-primary-color) !important;
            outline: none !important;
        }
    }

    .badge-primary,.text-bg-primary {
        background-color: var(--biz-theme-primary-color) !important;
        color: var(--biz-theme-primary-text-color) !important;
    }

    .badge-secondary,.text-bg-secondary  {
        background-color: var(--biz-theme-secondary-color) !important;
        color: var(--biz-theme-primary-text-color) !important;
    }
    .text-muted {
        color: var(--biz-theme-body-text-color) !important;
    }
    .o_ActivityButtonView_icon.text-muted{
        color: rgba(73, 80, 87, 0.76) !important;
    }

    .form-switch .form-check-label {
        padding-left: 52px;
        position: relative;
        
    }
    .form-switch .form-check-input{
        display: none !important;
    }

    .custom-control-input:focus:not(:checked) ~ .custom-control-label::before,
    .custom-control-input:not(:disabled):active ~ .custom-control-label::before{
        border-color: var(--biz-theme-primary-color);
        background-color: transparent;
    }

    .form-switch .form-check-label::before {
        content: '';
        display: inline-block;
        position: absolute;
        width: 4rem !important;
        height: 1.75rem !important;
        border-radius: 2rem !important;
        pointer-events: all !important;
        top: 0 !important;
        border-color: var(--biz-theme-primary-color) !important;
        background-color: transparent;
        border: 1px solid;
        left: 0;
    }

    .form-switch .form-check-label::after {
        content: '';
        display: inline-block;
        position: absolute;
        width: calc(1.78rem - 5px) !important;
        height: calc(1.78rem - 5px) !important;
        border-radius: 2rem !important;
        top: 2px !important;
        left: 2px !important;
        background-color: var(--biz-theme-primary-color) !important;
    }

    .custom-control-input:checked~.custom-control-label::before {
        color: #7639ed;
        border-color: var(--biz-theme-primary-color);
        background-color: var(--biz-theme-primary-color);
    }
    .form-switch .form-check-input:checked~.form-check-label::before{
        background-color: var(--biz-theme-primary-color) !important;
    }
    .form-switch .form-check-input:checked~.form-check-label::after {
        transform: translateX(2.2rem);
        background-color: var(--biz-theme-primary-text-color) !important;
        content: '';
        display: inline-block;
        position: absolute;
    }

    // v15 changes
    .o_main_navbar .dropdown .dropdown-toggle, .o_main_navbar .o_menu_sections .dropdown .dropdown-toggle, .o_main_navbar .o_menu_systray .dropdown .dropdown-toggle, .o_main_navbar .o_nav_entry, .o_main_navbar .o_menu_sections .o_nav_entry, .o_main_navbar .o_menu_systray .o_nav_entry, .o_main_navbar > .o_menu_sections > div, .o_main_navbar > .o_menu_sections > div > a, .o_main_navbar .o_menu_systray > div, .o_main_navbar .o_menu_systray > div > a, .o_main_navbar .o_menu_toggle, .o_main_navbar .o_navbar_apps_menu, .o_main_navbar .o_menu_brand {
        height: unset;
        background: transparent;
    }
    .o_data_row.text-info {
        color: inherit !important;
    }

    // v16 changes
    a:not([href]):not([tabindex]) {
        color: inherit;
        text-decoration: none;
        cursor: pointer;
    }

    .o_EmojiCategoryBarView{
        background-color: var(--biz-theme-secondary-color) !important;
        color: var(--biz-theme-secondary-text-color) !important;
    }
    .o_EmojiPickerView{
        .o_EmojiPickerHeaderView{
            border-top-left-radius: var(--border-radius-lg);
            border-top-right-radius: var(--border-radius-lg);
            .o_EmojiCategoryBarView{
                border-top-left-radius: var(--border-radius-lg);

                .o_EmojiCategoryView{
                    &.bg-view{
                        background-color: #fff !important;
                    }
                }
            }
        }
    }

    .table{
        color: var(--biz-theme-body-text-color);
    }
    .o_field_CopyClipboardText > div, .o_field_CopyClipboardURL > div, .o_field_CopyClipboardChar > div{
        border: 1px solid var(--biz-theme-primary-color) !important;
        color: var(--biz-theme-primary-color) !important;
        border-radius: var(--border-radius-md) !important;
    }
    .o_ActivityMenuView_activityGroup{
        *{
            color: var(--biz-theme-secondary-text-color) !important;
        }
        &:hover{
            background-color: var(--biz-theme-body-color) !important;
            color: var(--biz-theme-body-text-color) !important;
        }
    }
    .o_ActivityMenuView_activityGroupActionButtons{
        .btn{
            padding: 0 !important;
            padding-left: 9px !important;
        }
    }
}

.text-700{
    color: var(--biz-theme-body-text-color) !important;
}

body.o_web_client {
    .custom-control-label.o_form_label {
        padding-left: 4px;
        padding-right: 4px;
    }

    .o_base_settings.oe_form_configuration {
        .o_setting_container {
            .settings {
                >.app_settings_block {
                    h2 {
                        margin-top: 0 !important;
                    }
                }
            }
        }
    }
    .o_field_widget .o_input_dropdown .o_dropdown_button:after, .o_field_widget .o_input_dropdown .o_datepicker_button:after, .o_field_widget.o_datepicker .o_dropdown_button:after, .o_field_widget.o_datepicker .o_datepicker_button:after {
        border-top: 4px solid;
        border-top-color: inherit;
    }
    .badge.badge-pill,.badge.rounded-pill {
        max-height: 20px;
    }
    .dropdown-item.active:not(.dropdown-item_active_noarrow):before, .dropdown-item.selected:not(.dropdown-item_active_noarrow):before {
        color: var(--biz-theme-primary-color);
    }
}

body.o_web_client.dark_mode {
    hr {
        border-color: #414141 !important;
        background: #414141 !important;
    }

    .o_field_widget .o_input_dropdown .o_dropdown_button:after, .o_field_widget .o_input_dropdown .o_datepicker_button:after, .o_field_widget.o_datepicker .o_dropdown_button:after, .o_field_widget.o_datepicker .o_datepicker_button:after {
        border-top-color: white;
    }

    .border-bottom{
        border-color: #414141 !important;
    }

    * {
        border-color: #414141 !important;
    }

    .o_input{
        &:focus{
            border-color: var(--primary-rgba) !important;
        }
    }
    .o_field_property_definition .o_field_property_definition_type .o_input_dropdown input{
        background-blend-mode: screen;
    }
    .o_required_modifier.o_input, .o_required_modifier .o_input{
        border-color: var(--biz-theme-primary-color);
    }
    .text-900, h1, .o_form_view .o_form_label:not(.o_required_modifier) {
        color: inherit !important;
    }
    h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .o_kanban_view.o_kanban_dashboard .o_kanban_record .o_kanban_card_manage_pane.container div[class*="col-"] > .o_kanban_card_manage_title, .o_kanban_view.o_kanban_dashboard .o_kanban_record .o_kanban_card_manage_pane.o_container_small div[class*="col-"] > .o_kanban_card_manage_title, .h6 {
        color: inherit;
    }

    .table-hover > tbody > tr:hover > * {
        color: inherit;
    }

    .o_notebook .nav{
        background-color: var(--biz-theme-secondary-color);
    }
}

/* .o_gradient{background: linear-gradient(150deg, #714B67 20%, #503047 80%) !important;}
.o_gradient_inverse{background: linear-gradient(130deg, #5b7687 30%, #485761 100%) !important;}
.o_gradient_alpha{background: linear-gradient(130deg, #00a09d 30%, #00a09d 100%) !important;}
.o_gradient_beta{background: linear-gradient(130deg, #5b899e 30%, #00a09d 100%) !important;}
.o_gradient_gamma{background: linear-gradient(130deg, #fc7c84 30%, #d5653e 100%) !important;}
.o_gradient_delta{background: linear-gradient(130deg, #00a09d 30%, #e46f78 100%) !important;}
.o_gradient_epsilon{background: linear-gradient(130deg, #d5653e 30%, #00a09d 100%) !important;} */