:root{
    --light-theme-secondary-color: #ffffff;
    --light-theme-secondary-text-color: #1b1b1b;
    --light-theme-body-color: #f9f9f9;
    --light-theme-body-text-color: #1b1b1b;
    --dark-theme-primary-color: var(--light-theme-primary-color);
    --dark-theme-primary-text-color: var(--light-theme-primary-text-color);
    --dark-theme-secondary-color: #242424;
    --dark-theme-secondary-text-color: #ffffff;
    --dark-theme-body-color: #1d1d1d;
    --dark-theme-body-text-color: #ffffff;
    --vertical-menu-width: 24rem;
    --box-shadow-common: 0 4px 10px rgba(0, 0, 0, 0.03);
    --input-height: 40px;
}

html{
    &[data-theme-style="biz_theme_rounded"]{
        --border-radius-lg: 16px;
        --border-radius-md: 10px;
        --border-radius-sm: 6px;
        --border-radius-xl: 50px;
    }
    &[data-theme-style="biz_theme_standard"]{
        --border-radius-lg: 6px;
        --border-radius-md: 4px;
        --border-radius-sm: 3px;
        --border-radius-xl: 4px;
    }
    &[data-theme-style="biz_theme_square"]{
        --border-radius-lg: 0;
        --border-radius-sm: 0;
        --border-radius-md: 0;
        --border-radius-xl: 0;
    }
    &[data-view-type="desktop"]{
        --horizontal-menu-height: 80px;
    }
    &[data-view-type="mobile"]{
        --horizontal-menu-height: 60px;
    }
}

:root {
    --o-input-border-color: var(--biz-theme-primary-color);
    --o-caret-color: var(--biz-theme-primary-color);
}