body.o_web_client {
    // common css for both vertical and horizontal start
    &.custom_drawer_color{
        .o_main_navbar {
            &.appdrawer-toggle{
                color: var(--app-drawer-custom-text-color) !important;
                .o_menu_systray{
                    .o_user_menu {
                        .user-image-style {
                            .user-info {
                                span{
                                    color: var(--app-drawer-custom-text-color) !important;
                                }
                            }
                        }
                    }
                    a, .dark_mode label{
                        color: var(--app-drawer-custom-text-color) !important;
                    }
                }
            }
        }
    }

    .o_main_navbar {
        .dropdown-menu{
            max-height: 65vh;
            transition: 0s !important;
        }
        @include media-breakpoint-down(md){
            .o_menu_sections{
                display: block !important;
            }
        }
        .o_menu_systray{
            .o_mail_systray_item, .o_MessagingMenu, .o_ActivityMenuView {
                .o_notification_counter, .o_MessagingMenu_counter, .o_ActivityMenuView_counter {
                    margin-top: 0 !important;
                    background: #fff !important;
                    color: var(--biz-theme-primary-color) !important;
                    position: absolute !important;
                    transform: unset !important;
                    margin-left: 0 !important;
                    margin-right: 0;
                    top: 0;
                    right: 0;
                    height: 1rem;
                    font-size: 0.8rem;
                }
            }
            .o_user_menu {
                .user-image-style {
                    align-items: center;
                    margin: auto;
                    border-radius: var(--border-radius-md) !important;
                    transition: 0.3s;
                    width: fit-content;
                    padding: 10px;
                    margin-bottom: 10px;
    
    
                    &:hover {
                        box-shadow: var(--box-shadow-common) !important;
                        background: rgba(255, 255, 255, .05);
                    }
    
                    .oe_topbar_avatar {
                        width: 50px !important;
                        height: 50px !important;
                        margin-bottom: 5px;
                        order: initial !important;
                        border-radius: var(--border-radius-xl);
                        margin: auto;
                        display: block;
                    }
    
                    .dropdown-toggle::after {
                        display: none !important;
                    }
    
                    .user-info {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        line-height: 1.5;
                        // margin-bottom: 15px;
    
                        span {
                            color: #fff !important;
                        }
    
                        .greeting {
                            font-size: 10px;
                        }
    
                    }
    
                    .dropdown-item {
                        transition: 0.2s;
    
                        &:hover {
                            color: var(--biz-theme-primary-color) !important;
                            background-color: transparent !important;
                        }
                    }
    
                    .dropdown-menu.show {
                        max-height: unset !important;
                        min-width: auto;
                        overflow: auto;
                        width: 18rem;
                        padding: 12px 20px 15px 15px;
                        border-radius: var(--border-radius-md);
                        // transform: translate(-35px, -10px);
                        top: auto;
                        border: 0 !important;
                    }
                }
            }
            .o_switch_company_menu {
                display: flex !important;
                justify-content: center !important;
                margin-bottom: 10px;
                .o_user_lang {
                    .dropdown-toggle {
                        background-color: transparent !important;
                        &::after {
                            display: none !important;
                        }
                    }
                    .lang_selector {
                        cursor: pointer;
                        margin-right: 1rem !important;
                    }
                    .dropdown-menu.show {
                        max-height: unset !important;
                        min-width: max-content;
                        overflow: auto;
                        padding: 15px;
                        // transform: translate(-75px, 5px);
                        border-radius: var(--border-radius-md);
                        border: 0 !important;
                        right: 0 !important;
                    }
                    .dropdown-menu {
                        color: #7c7c7c !important;
                        cursor: pointer;
                    }
                    .lang-name {
                        margin-bottom: 2px !important;
    
                        &.active {
                            color: var(--biz-theme-primary-color) !important;
                        }
                    }
                }
                .company_selections {
                    .company_label.text-900{
                        color: var(--biz-theme-secondary-text-color) !important;
                    }
                    .dropdown-toggle {
                        background-color: transparent !important;
                    }
                    .current_company {
                        padding: 10px;
                        color: var(--biz-theme-primary-color) !important;
                    }
                    .dropdown-menu.show {
                        max-height: unset !important;
                        min-width: auto;
                        overflow: auto;
                        // padding: 10px;
                        // transform: translate(-70px, 5px);
                        border-radius: var(--border-radius-md);
                        border: 0 !important;
                        // left: 50% !important;
                        // transform: translateX(-50%) !important;
                        .text-primary {
                            color: var(--biz-theme-primary-color) !important;
                        }
                        .border-primary {
                            border-color: var(--biz-theme-primary-color) !important;
                        }
                    }
                    .dropdown-item {
                        padding: 0 !important;
                        background-color: transparent !important;
                        .o_py:hover {
                            background-color: transparent !important;
                        }
                        div {
                            padding-left: unset !important;
                            padding-right: 0.5rem !important;
                        }
                        span {
                            margin-right: unset !important;
                            margin-left: 0.5rem !important;
                        }
                        &:hover {
                            color: var(--biz-theme-primary-color) !important;
        
                        }
                        &.o_py:hover {
                            background-color: transparent !important;
                        }
                    }
                    .log_into {
                        background-color: transparent !important;
                    }
                }
                .debug_activator {
                    margin-left: 1rem !important;
                    line-height: 19px;
                    cursor: pointer;
                }
                a {
                    color: var(--biz-theme-primary-text-color) !important;
                    padding: 0;
                    line-height: unset;
                    height: auto;
                    cursor: pointer;
                }
            }
            .o_mail_systray_dropdown {
                .o_mail_preview {
                    background-color: transparent !important;
                    transition: 0.3s;

                    .o_mail_preview_app{
                        > img{
                            border-radius: var(--border-radius-md);
                        }
                    }
    
                    .o_preview_title {
                        &:hover {
                            color: var(--biz-theme-primary-color);
                        }
                    }
                }
            }
            .o_NotificationList {
                .o_NotificationGroup_date {
                    color: var(--biz-theme-primary-color);
                }
                &>div {
                    background-color: transparent !important;
                    transition: 0.3s;
    
                    &:hover {
                        color: var(--biz-theme-primary-color);
                    }
                }
            }
            .o_mail_systray_dropdown, .o_MessagingMenu_dropdownMenu, .o_debug_manager > .dropdown-menu {
                &.dropdown-menu-right {
                    max-height: unset !important;
                    min-width: auto;
                    overflow: auto;
                    padding: 10px !important;
                    border-radius: var(--border-radius-md);
                    right: unset !important;
                    top: 30px;
                    border: 0 !important;
                }
                &.show .dropdown-toggle {
                    background-color: transparent !important;
                }
            }
            .o_MessagingMenu.show {
                background-color: transparent !important;
                .o_MessagingMenu_toggler {
                    background: transparent;
                }
                .o_MessagingMenu_dropdownMenuHeader {
                    border: 0 !important;
                    .o_MessagingMenu_tabButton{
                        &:not(:last-child) {
                            margin-right: 10px;
                        }
                    }
                }
            }
            .o_debug_manager > .dropdown-menu {
                .dropdown-item {
                    transition: 0.2s;
                    &:hover {
                        background-color: transparent !important;
                        color: var(--biz-theme-primary-color) !important;
                    }
                }
            }
            .dark-light-mode-button-design {
                .label {
                    cursor: pointer;
                    color: var(--biz-theme-primary-text-color);
                }
            }
            .pin_sidebar {
                > * {
                    pointer-events: none;
                }
                .ri {
                    font-size: 18px;
                }
                &.pinned {
                    .ri {   
                        &:before {
                            content: "\eece";
                        }
                    }
                }
            }
            .debug_activator {
                .activate_debug {
                    &.toggle {
                        .ri::before{
                            content: "\eba6";
                        }
                    }
                }
            }
            display: flex;
        }
    }
    // common css for both vertical and horizontal end

    // FAVOURITE APPS ISLAND STYLE SCSS
    .fav_app_island {
        .fav_app_island_btn {
            font-size: 25px;
            width: 25px;
            height: 25px;
            line-height: 25px;
            color: white;
            vertical-align: middle;
            cursor: pointer;
            transition: 0.2s;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
        .fav_apps {
            .app-box {
                .app-image {
                    .ri{
                        font-size: 30px;
                        color: white;
                    }
                }
                width: 30px;
                height: 30px;
                line-height: 30px;
                margin: 0 10px;
            }
            transition: 0.2s;
            transform: scale(0);
            overflow: hidden;
        }
        position: fixed;
        bottom: 10px;
        left: 50%;
        z-index: 80;
        padding: 10px;
        transform: translateX(-50%);
        background-color: rgba(0, 0, 0, 0.35);
        box-shadow: var(--box-shadow-common) !important;
        border-radius: var(--border-radius-lg);
        backdrop-filter: blur(2px);
        text-align: center;
        min-height: 45px;
        min-width: 45px;
        max-height: 45px;
        max-width: 45px;
        &:hover {
            .fav_app_island_btn {
                transform: scale(0);
            }
            .fav_apps {
                transform: scale(1);
            }
            max-width: 100%;
            max-height: 100%;
        }
        @include media-breakpoint-down(md){
            .fav_apps {
                flex-wrap: wrap;
            }
            display: none !important;
        }
    }

    &.top_menu_vertical{
        .o_action_manager {
            padding: 0px 5rem 0px 27rem;
            @include media-breakpoint-down(lg){
                padding: 0px 4.5rem 0px 25rem;
            }
        }
        .o_main_navbar {
            display: flex;
            flex-direction: column;
            * {
                transition: 0.3s;
            }
            .o_company_logo {
                .company_logo {
                    max-height: 60px;
                }
                max-height: 60px;
            }
            transition: 0.3s;
        }
        &:not(.pinned) {
            .o_main_navbar:not(:hover) { //:not(:hover)
                .o_menu_systray {
                    .o_user_menu {
                        .user-info {
                            opacity: 0;
                            visibility: hidden;
                            width: 0;
                            height: 0;
                        }
                        .user-image-style {
                            padding: 10px 0 !important;
                        }
                        margin-left: 0px;
                    }
                    > div:not(.o_user_menu) {
                        opacity: 0;
                        visibility: hidden;
                        width: 0;
                    }
                }
                .o_navbar_apps_menu {
                    > ul > li {
                        > a {
                            > span:not(.app_icon) {
                                opacity: 0;
                                visibility: hidden;
                                width: 0;
                                margin: 0 !important;
                            }
                            > span.app_icon {  
                                margin: 0 !important;
                            }
                            justify-content: center;
                        }
                        > ul {
                            display: none;
                        }
                    }
                    padding: 0 15px !important;
                }
                .o_company_logo {
                    .company_logo_icon {
                        display: block !important;
                        margin: auto;
                    }
                    .company_logo {
                        display: none !important;
                    }
                    .img{
                        max-height: 50px;
                    }
                    margin-left: 15px;
                    margin-right: 15px;
                    text-align: left;
                    position: relative;
                    overflow: hidden;
                }
                width: 80px !important;
                transition: 0.3s;
            }
            .o_action_manager {
                @include media-breakpoint-up(lg){
                    padding: 0px 5rem 0px 8rem;
                }
                @include media-breakpoint-down(md){
                    padding: 0px 3.75rem 0px 1rem;
                }
            }
        }
    }
    &.top_menu_vertical{
        .o_main_navbar {
            .o_app_drawer {
                display: none;
            }
            .o_menu_systray {
                > li {
                    order: 3;
                }
                .o_switch_company_menu {
                    width: 100%;
                    order: -1;
                }
                .o_user_menu{
                    width: 100%;
                    width: -moz-available;
                    width: -webkit-fill-available;
                    order: -2;
                    margin-left: 0;

                    .user-image-style{
                        width: 100%;
                        width: -moz-available;
                        width: -webkit-fill-available;
                        .dropdown-toggle{
                            display: block;
                            width: 100%;
                            padding: 0;
                        }
                        .oe_topbar_name{
                            max-width: -webkit-fill-available;
                            max-width: -moz-available;
                            max-width: calc(var(--vertical-menu-width) - 30px);
                        }
                    }
                }
                .vertical_sidemenu_behaviour {
                    display: block !important;
                }
                margin-bottom: 30px !important;
                padding: 0 15px;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
            }
            .o_mail_systray_item {
                .dropdown-toggle {
                    background-color: transparent !important;
                }
            }
            .MessagingMenuContainer, .o_ActivityMenuView {
                .o_MessagingMenu_dropdownMenu, .o_ActivityMenuView_dropdownMenu {
                    left: 0;
                    padding: 10px !important;
                }
            }
            .o_company_logo {
                text-align: center;
                margin-top: 20px;
                margin-bottom: 20px;
                img{
                    max-width: 180px;
                }
            }
            .o_menu_brand, .o_menu_sections {
                display: none !important;
            }
            // app menu drop-down designs 
            .o_navbar_apps_menu {
                padding: 0 30px;
                display: block;
                height: unset;
                grid-area: none;
                list-style: none;
                > ul {
                    > li {
                        ul {
                            p {
                                font-size: 12px;
                                background-color: rgba(255, 255, 255, 0.1) !important;
                                border-radius: var(--border-radius-lg) !important;
                                text-align: center;
                                margin-bottom: 0.5rem !important;
                                margin-top: 0.5rem !important;
                                padding: 5px 15px;
                                color: var(--biz-theme-primary-text-color);
                                > a[aria-expanded=true] {
                                    .ri::before {
                                        content: "\ea4e";
                                    }
                                }
                            }
                            .child_menus {
                                span{
                                    pointer-events: none;
                                }
                                cursor: pointer;
                                padding: 0.5rem 1rem !important;
                                color: #fff !important;
                                display: inline-block;
                                margin-bottom: 0.1rem !important;
                                margin-top: 0.1rem !important;
                                width: 100%;
                                border-radius: var(--border-radius-lg) !important;
                                transition: 0.3s;
                                &.active{
                                    background-color: rgba(255, 255, 255, 0.1) !important;
                                }
                            }
                            display: none;
                            list-style: unset;
                            padding-left: 15px;
                            &.show{
                                display: block;
                            }
                        }
                        > a {
                            color: #fff !important;
                            padding: 0.75rem 1rem !important;
                            display: inline-block;
                            margin-bottom: 0.1rem !important;
                            margin-top: 0.1rem !important;
                            width: 100%;
                            border-radius: var(--border-radius-lg) !important;
                            transition: 0.3s;
                            &:hover {
                                background-color: rgba(255, 255, 255, 0.1) !important;
                            }
                        }
                    }
                    max-height: calc(100vh - 104px - 240px) !important;
                    list-style: unset !important;
                    overflow: hidden !important;
                    overflow-y: auto !important;
                    padding: 0;
                    padding-bottom: 15px !important;
                }
                .app_icon {
                    img {
                        max-width: 20px;
                    }
                    .ri {
                        font-size: 20px;
                        vertical-align: middle;
                    }
                    margin-right: 5px;
                }
                .main_link {
                    display: flex;
                    width: 100%;
                    align-items: center;
                    > * {
                        pointer-events: none;
                    }
                    &.active{
                        .ri.ri-arrow-right-s-line::before {
                            content: "\ea4e";
                        }
                        background-color: rgba(255, 255, 255, 0.1) !important;
                    }
                }
            }
            > div {
                > div {
                    > a, > div > a, div > label {
                        // line-height: 30px !important;
                        height: inherit !important;
                        cursor: pointer;
                        &:hover {
                            background-color: transparent !important;
                        }
                    }
                    float: unset;
                }
                float: unset;
            }
            background-color: var(--biz-theme-primary-color) !important;
            height: 100vh !important;
            position: fixed;
            width: var( --vertical-menu-width);
            min-width: unset;
            z-index: 100;
            border-top-left-radius: 0 !important;
            border-bottom-left-radius: 0 !important;
            border-top-right-radius: var(--border-radius-lg) !important;
            border-bottom-right-radius: var(--border-radius-lg) !important;
        }
        
    }

    &.top_menu_horizontal {
        .o_main_navbar {
            display: flex;
            > ul {
                li.o_extra_menu_items{
                    &.show{
                        > ul {
                            > li {
                                a.dropdown-toggle{
                                    color: var(--biz-theme-primary-color);
                                }
                            }
                        }
                    }
                }
            }
            
            .o_navbar_apps_menu {
                #accordion {
                    display: none;
                }
            }
            .o_app_drawer {
                a {
                    .ri {
                        font-size: 30px;
                    }
                }
            }
            .o_menu_sections{
                display: flex;
            }
            .o_menu_sections{
                .o-dropdown .dropdown-toggle, .o_nav_entry{
                    height: var(--horizontal-menu-height);
                    line-height: var(--horizontal-menu-height);
                    white-space: nowrap;

                    &:hover {
                        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.03) !important;
                        background: rgba(255, 255, 255, 0.05) !important;
                    }
                }
            }
            .o_menu_sections, .o_menu_systray, .o_app_drawer{
                > li, > div {
                    > a, .o_MessagingMenu_toggler  {
                        // font-size: 12px;
                        height: var(--horizontal-menu-height);
                        line-height: var(--horizontal-menu-height);
                        cursor: pointer;
                        white-space: nowrap;
                        padding: 0 10px;
                        display: block;
                        &:hover {
                            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.03) !important;
                            background: rgba(255, 255, 255, 0.05) !important;
                        }
                    }
                }
                .show .dropdown-toggle {
                    background-color: transparent;
                }
            }

            .o_menu_systray{
                margin-left: auto !important;
                > div > a, > div > button, div > div > a {
                    height: 100% !important;
                    &:hover {
                        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.03) !important;
                        background: rgba(255, 255, 255, 0.05) !important;
                    }
                }
                .o_debug_manager, .o_mail_systray_item, .o_MessagingMenu, .o_ActivityMenuView {
                    /* .dropdown-menu {
                        top: 100% !important;
                        right: 0 !important;
                        left: unset !important;
                        position: absolute !important;
                        width: auto;
                        min-width: max-content;
                        padding: 10px !important;
                    } */
                    .dropdown-toggle, .o_MessagingMenu_toggler {
                        .badge-pill ,.rounded-pill ,.badge{
                            transform: translateY(-100%) !important;
                            top: 50%;
                        }
                    }
                }
                .o_switch_company_menu {
                    .o_user_lang {
                        position: relative;
                    }
                    .dropdown-toggle {
                        margin: 0 !important;
                        line-height: var(--horizontal-menu-height);
                        display: block;
                        padding: 0 10px;
                        &:hover {
                            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.03) !important;
                            background: rgba(255, 255, 255, 0.05) !important;
                        }
                    }
                    .debug_activator, .theme_selector {
                        a {
                            margin: 0 !important;
                            line-height: var(--horizontal-menu-height);
                            display: block;
                            padding: 0 10px;
                            &:hover {
                                box-shadow: 0 4px 10px rgba(0, 0, 0, 0.03) !important;
                                background: rgba(255, 255, 255, 0.05) !important;
                            }
                        }
                        margin-left: 0 !important;
                        line-height: var(--horizontal-menu-height);
                    }
                    .dropdown-menu {
                        // transform: unset !important;
                        min-width: max-content !important;
                        left: unset !important;
                        right: 0;
                    }
                    height: var(--horizontal-menu-height);
                    margin: 0;
                }
                .o_user_menu {
                    .user-image-style {
                        .dropdown-toggle {
                            .oe_topbar_avatar {
                                width: 36px !important;
                                height: 36px !important;
                            }
                            .user-info {
                                align-items: end;
                                margin-right: 10px;
                            }
                            display: flex;
                            flex-direction: row-reverse;
                            align-items: center;
                            height: var(--horizontal-menu-height);
                            @include media-breakpoint-down(md){
                                padding: 0;
                            }
                        }
                        .dropdown-menu {
                            transform: unset !important;
                            // right: 0;
                            left: unset;
                        }
                        &.show {
                            a.dropdown-toggle {
                                background-color: transparent;
                            }
                        }
                        padding: 0 10px !important;
                        margin: 0;
                    }
                    order: 1;
                }
                .dark_mode {
                    .dark-light-mode-button-design {
                        label {
                            margin: 0;
                            padding: 0 10px !important;
                            position: relative;
                            // top: -6px;
                        }
                        line-height: var(--horizontal-menu-height);
                    }
                    margin: 0 !important;
                    &:hover {
                        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.03) !important;
                        background: rgba(255, 255, 255, 0.05) !important;
                    }
                }
                position: relative;
                z-index: 96;
            }
            height: var(--horizontal-menu-height);
            @media(min-width: 1400px) {
                padding: 0 50px;
            }
            @media(min-width: 992px) and (max-width: 1399.98px){
                .o_menu_systray {
                    .o_user_menu {
                        .user-info {
                            display: none !important;
                        }
                    }
                }
            }
            @media(min-width: 992px) and (max-width: 1299.98px){
                // font-size: 80%;
                > a{
                    padding: 0 8px 0 10px;
                }
                .o_menu_brand{
                    margin-left: 0 !important;
                }
                .o_company_logo{
                    min-width: 100px;
                    img{
                        max-width: 100px;
                    }
                }
                > ul > li > a, label{
                    padding: 0 5px !important;
                }
            }
            @include media-breakpoint-up(lg){
                padding: 0 20px;
                .o_menu_brand{
                    height: var(--horizontal-menu-height);
                    line-height: 76px;
                    // margin-left: 20px;
                    margin-right: 10px;
                    padding: 0 12px 0 16px;
                    font-size: 22px;
                    &:hover {
                        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.03) !important;
                        background: rgba(255, 255, 255, 0.05) !important;
                    }
                }
                .o_company_logo{
                    img {
                        max-height: 50px;
                    }
                    min-width: 100px;
                    line-height: var(--horizontal-menu-height);
                }
                .o_menu_systray {
                    order: 3;
                }
                
                /* .mobile-header-toggle{
                    display: none !important;
                } */
            }
            // @include media-breakpoint-down(lg){
            
            .o_menu_sections {
                @media (max-width: 992px) {
                    a {
                        color: white !important;
                    }
                    #mobileMenuclose {
                        display: block !important;
                        padding: 0 15px;
                        line-height: 46px;
                        position: absolute;
                        z-index: 20;
                        right: 10px;
                        top: 10px;
                    }
                    .o_menu_brand {
                        height: 46px !important;
                        line-height: 46px !important;
                        background-color: rgba(255, 255, 255, 0.05);
                        color: var(--biz-theme-primary-text-color) !important;
                        border-radius: var(--border-radius-lg);
                        padding: 0 10px;
                        margin: 10px 0;
                        font-size: inherit;
                    }
                    > li {
                        &.o_extra_menu_items{
                            #mobileMenuclose {
                                right: 0;
                                top: 0;
                            }
                            > a.dropdown-toggle{
                                display: none !important;
                            }
                        }
                        > a {
                            height: 46px !important;
                            color: var(--biz-theme-primary-text-color) !important;
                            line-height: 46px !important;
                        }
                        .dropdown-menu {
                            .dropdown-item {
                                color: var(--biz-theme-primary-text-color) !important;
                            }
                            position: unset;
                            display: block;
                            float: unset;
                            background-color: transparent !important;
                            border: 0;
                            box-shadow: unset;
                            color: var(--biz-theme-primary-text-color) !important;
                            padding-top: 0;
                            padding-bottom: 0;
                        }
                        .dropdown-header, .o_menu_header_lvl_1{
                            background-color: rgba(255, 255, 255, 0.05);
                            color: var(--biz-theme-primary-text-color) !important;
                            border-radius: var(--border-radius-lg);
                            height: 35px !important;
                            line-height: 35px !important;
                            padding: 0 10px;
                            font-weight: normal;
                            font-size: inherit;
                        }
                        float: unset;
                    }
                    position: fixed;
                    float: unset;
                    z-index: 100;
                    background-color: var(--biz-theme-primary-color);
                    color: var(--biz-theme-primary-text-color);
                    top: 0;
                    height: 100%;
                    overflow-y: auto;
                    padding: 0 10px;
                    width: 300px;
                    right: -100%;
                    transition: 0.3s;
                    &.toggle{
                        right: 0%;
                    }
                }
            }
            @include media-breakpoint-down(lg){
                padding: 0 15px;
                display: flex;
                align-items: center;
                > .o_menu_brand, > .o_company_logo{
                    display: none !important;
                }
                .o_app_drawer {
                    .appDrawerToggle {
                        .ri {
                            font-size: 25px;
                        }
                        padding: 0;
                        margin-right: 0 !important;
                    }
                }
                .o_menu_systray {
                    .o_user_menu {
                        .user-info {
                            display: none !important;
                        }
                        .user-image-style {
                            a.dropdown-toggle .oe_topbar_avatar {
                                width: 30px !important;
                                height: 30px !important;
                            }
                            padding: 0 6.5px !important;
                        }
                        
                        margin-left: 0;
                    }
                    
                    .theme_selector, .debug_activator {
                        display: none !important;
                    }
                    .o_mail_systray_dropdown, .o_MessagingMenu_dropdownMenu, .o_debug_manager > .dropdown-menu {
                        position: fixed !important;
                        width: 100%;
                        right: unset !important;
                        top: 65px !important;
                        left: 0px;
                        left: 0px !important;
                        max-height: unset !important;
                    }
                    margin-left: auto;
                }
                /* .o_menu_sections {
                    #mobileMenuclose {
                        display: block !important;
                        padding: 0 15px;
                        line-height: 46px;
                        position: absolute;
                        z-index: 20;
                        right: 10px;
                        top: 10px;
                    }
                    > .o_menu_brand {
                        height: 46px !important;
                        line-height: 46px !important;
                        background-color: rgba(255, 255, 255, 0.05);
                        color: var(--biz-theme-primary-text-color) !important;
                        border-radius: var(--border-radius-lg);
                        padding: 0 10px;
                        margin: 10px 0;
                    }
                    > li {
                        &.o_extra_menu_items{
                            a.dropdown-toggle{
                                display: none !important;
                            }
                        }
                        > a {
                            height: 46px !important;
                            color: var(--biz-theme-primary-text-color) !important;
                            line-height: 46px !important;
                        }
                        .dropdown-menu {
                            .dropdown-item {
                                color: var(--biz-theme-primary-text-color) !important;
                            }
                            position: unset;
                            display: block;
                            float: unset;
                            background-color: transparent !important;
                            border: 0;
                            box-shadow: unset;
                            color: var(--biz-theme-primary-text-color) !important;
                            padding-top: 0;
                            padding-bottom: 0;
                        }
                        .dropdown-header, .o_menu_header_lvl_1{
                            background-color: rgba(255, 255, 255, 0.05);
                            color: var(--biz-theme-primary-text-color) !important;
                            border-radius: var(--border-radius-lg);
                            height: 35px !important;
                            line-height: 35px !important;
                        }
                        float: unset;
                    }
                    position: fixed;
                    float: unset;
                    z-index: 100;
                    background-color: var(--biz-theme-primary-color);
                    color: var(--biz-theme-primary-text-color);
                    top: 0;
                    height: 100vh;
                    overflow-y: auto;
                    padding: 0 10px;
                    width: 300px;
                    right: -100%;
                    transition: 0.3s;
                    &.toggle{
                        right: 0%;
                    }
                } */
                
                .mobile-header-toggle{
                    margin-left: 10px;
                    a{
                        color: var(--biz-theme-primary-text-color);
                        font-size: 25px;
                    }
                }
            }
            background-color: var(--biz-theme-primary-color) !important;
            color: var(--biz-theme-primary-text-color);
            border-color: var(--biz-theme-primary-color) !important;
            border-top-left-radius: 0 !important;
            border-top-right-radius: 0 !important;
            border-bottom-left-radius: var(--border-radius-lg) !important;
            border-bottom-right-radius: var(--border-radius-lg) !important;
        }
        .o_action_manager {
            @include media-breakpoint-up(lg){
                padding: 0px 5rem 0px 5rem;
            }
        }
    }
}

// dark mode colors
body.o_web_client.dark_mode {
    .dynamic_data {
        .backend_configurator_close {
            img {
                filter: brightness(0) invert(1);
            }
        }
    }
    .o_main_navbar {
        .dropdown-menu {
            background-color: var(--biz-theme-secondary-color) !important;
            color: var(--biz-theme-secondary-text-color) !important;
            box-shadow: 0px 0px 2px 0px white;
        }
        .o_mail_systray_dropdown_items {
            .o_mail_preview,.o_no_activity  {
                color: var(--biz-theme-secondary-text-color);
            }
        }
        .dark-light-mode-button-design {
            .bulb-on::before {
                    content: "\eea8";
            }
        }
    }
}