body.o_web_client {
    &.top_menu_vertical {
        &.o_website_fullscreen, &.editor_has_snippets {
            header {
                .header_menu_right_content {
                    transform: translate(100%, -50%) !important;
                }
                .o_main_navbar {
                    
                    transform: translate(-100%, 0) !important;
                }
                .fav_app_island {
                    bottom: 0;
                    transform: translate(-50%,100%);
                }
            }
            .o_action_manager {
                transition: 0.3s;
                padding: 0px 0px 0px 0px;
            }
        }
        header {
            .o_menu_systray_item {
                margin-left: auto;
            }
        }
    }
    &.top_menu_horizontal {
        header {
            .o_menu_systray_item {
                > a {
                    display: flex !important;
                }
            }
        }
        &.o_website_fullscreen, &.editor_has_snippets {
            header {
                .header_menu_right_content {
                    transform: translate(100%, -50%) !important;
                }
                .o_main_navbar {
                    height: 0;
                    transform: translate(0, -100%) !important;
                }
                .fav_app_island {
                    bottom: 0;
                    transform: translate(-50%,100%);
                }
            }
            .o_action_manager {
                transition: 0.3s;
                padding: 0px 0px 0px 0px;
            }
        }
    }

    .o_we_website_top_actions {
        .btn-secondary {
            color: #FFFFFF !important;
            background-color: #141217 !important;
            border-color: #141217 !important;
        }
    }
    #oe_snippets {
        .btn {
            padding: 2.64px 4px !important;
            border-radius: 2px !important;
        }
        .dropdown-menu {
            background: #222222 !important;
            border-color: #dee2e6 !important;
            border-radius: 0.25rem !important;
            color: #495057 !important;
        }
    }
}