<div class="row justify-content-md-between justify-content-center border-bottom align-items-center py-2 mx-0">
    <div class="text-center mr-5">
        <a href="https://candidroot.com/">
            <img src="images/icon.png" alt="candidroot-logo">
        </a>
    </div>
    <div class="mt-md-0 mt-4 mb-3 mb-lg-0">
        <span class="btn btn-sm mb-2 mb-lg-0"
              style="font-size:14px; font-weight:500; background-color:#203038; color:#fff"><i class="fa fa-check"></i> Community</span>
        <span class="btn btn-sm mb-2 mb-lg-0"
              style="font-size:14px; font-weight:500; background-color:#203038; color:#fff"><i class="fa fa-check"></i> Enterprise</span>
    </div>
</div>

<section class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="oe_slogan" style=" font-size: 30px; color: #1495c9">
                CardConnect Payment Gateway.
            </h2>
        </div>
        <div class="row mt16 mb16 py-2 m-1"
             style="font-weight:500; font-size:18px; color:#484848; width:90%; font-family:'Montserrat', sans-serif">
            <div class="container col-md-6  border-right"
                 style="font-weight:500; line-height:24px; font-size:16px; color:#484848; font-family:'Montserrat', sans-serif; vertical-align:middle; display:grid">
                <p class="mb4 mt4 mr8">
                    Reduce credit card processing costs with this cardconnect payment module..
                </p>
            </div>
            <div class="container col-md-6 ">
                <h4 class="ml-md-3">Youtube Video</h4>
                <div class="mt-2 ml-md-3" style="display:flex">
                    <span class="ml-1 mr-2 my-auto">
                        <img src="images/youtube2.png" alt="user-guide"></span>
                    <a href="https://www.youtube.com/watch?v=TlKxmaJoFGY">
                        <span style="font-size:15px; margin-top:0.2rem">CardConnect Payment Gateway In Odoo</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container">
    <div class="d-flex m-0">
        <h3 style="font-size:2rem !important; font-weight:800 !important; color:#ffffff !important; background-color:#0492cf !important; padding:1rem !important; width:70px !important; height:90px !important">01</h3>
        <h3 class="oe_slogan" style="text-align:center; font-size:19px; width:100%; margin:0; margin-top:14px; color:#000 !important; opacity:1 !important; line-height:31px; font-weight:400; letter-spacing:.5px; margin-bottom:21px">
            <b>Get CardConnect API Credentials.</b>
        </h3>
    </div>
    <!-- <div class="mt16">
        <img class="img img-responsive oe_screenshot"
             style="width:100%; margin-top:-15px !important; border-top:5px solid #00438B !important; margin-bottom:4rem !important"
             src="1.png"/>
    </div> -->
</section>

<section class="container">
    <div class="d-flex m-0">
        <h3 style="font-size:2rem !important; font-weight:800 !important; color:#ffffff !important; background-color:#0492cf !important; padding:1rem !important; width:70px !important; height:90px !important">02</h3>
        <h3 class="oe_slogan" style="text-align:center; font-size:19px; width:100%; margin:0; margin-top:14px; color:#000 !important; opacity:1 !important; line-height:31px; font-weight:400; letter-spacing:.5px; margin-bottom:21px">
            <b>CardConnect Configuration in Odoo</b>
        </h3>
    </div>
    <div>
        <p style="font-size: 20px;">
            Invoicing -> Configuration -> Payment Acquirers<br>
        </p>
    </div>
    <div class="mt16">
        <img class="img img-responsive oe_screenshot"
             style="width:100%; margin-top:-15px !important; border-top:5px solid #00438B !important; margin-bottom:4rem !important"
             src="cardconnect_config_1.png"/>
    </div>
</section>

<section class="container">
    <div class="d-flex m-0">
        <h3 style="font-size:2rem !important; font-weight:800 !important; color:#ffffff !important; background-color:#0492cf !important; padding:1rem !important; width:70px !important; height:90px !important">03</h3>
        <h3 class="oe_slogan" style="text-align:center; font-size:19px; width:100%; margin:0; margin-top:14px; color:#000 !important; opacity:1 !important; line-height:31px; font-weight:400; letter-spacing:.5px; margin-bottom:21px">
            <b>Shop Page.</b>
        </h3>
    </div>
    <div>
        <p style="font-size: 20px;">
            Website Cart Screen<br>
        </p>
    </div>
    <div class="mt16">
        <img class="img img-responsive oe_screenshot"
             style="width:100%; margin-top:-15px !important; border-top:5px solid #00438B !important; margin-bottom:4rem !important"
             src="cardconnect_shop.png"/>
    </div>
</section>

<section class="container">
    <div class="d-flex m-0">
        <h3 style="font-size:2rem !important; font-weight:800 !important; color:#ffffff !important; background-color:#0492cf !important; padding:1rem !important; width:70px !important; height:90px !important">04</h3>
        <h3 class="oe_slogan" style="text-align:center; font-size:19px; width:100%; margin:0; margin-top:14px; color:#000 !important; opacity:1 !important; line-height:31px; font-weight:400; letter-spacing:.5px; margin-bottom:21px">
            <b>Shop Page.</b>
        </h3>
    </div>
    <div>
        <p style="font-size: 20px;">
            After selecting cardconnect option<br>
        </p>
    </div>
    <div class="mt16">
        <img class="img img-responsive oe_screenshot"
             style="width:100%; margin-top:-15px !important; border-top:5px solid #00438B !important; margin-bottom:4rem !important"
             src="cardconnect_shop_1.png"/>
    </div>
</section>

<section class="container">
    <div class="d-flex m-0">
        <h3 style="font-size:2rem !important; font-weight:800 !important; color:#ffffff !important; background-color:#0492cf !important; padding:1rem !important; width:70px !important; height:90px !important">04</h3>
        <h3 class="oe_slogan" style="text-align:center; font-size:19px; width:100%; margin:0; margin-top:14px; color:#000 !important; opacity:1 !important; line-height:31px; font-weight:400; letter-spacing:.5px; margin-bottom:21px">
            <b>Order Page.</b>
        </h3>
    </div>
    <div>
        <p style="font-size: 20px;">
            Order confirmation page after successful payment<br>
        </p>
    </div>
    <div class="mt16">
        <img class="img img-responsive oe_screenshot"
             style="width:100%; margin-top:-15px !important; border-top:5px solid #00438B !important; margin-bottom:4rem !important"
             src="cardconnect_shop_confirm.png"/>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_mt16 oe_mb16">
        <h2 class="oe_slogan">Get Help From Us!</h2>
    </div>
    <div class="oe_slogan">
        <a class="btn btn-primary btn-md mt8" style="color: #FFFFFF !important;" href="mailto:info@candidroot.com"
           target="_blank">
            <i class="fa fa-envelope"></i>
            Email
        </a>
        <a class="btn btn-primary btn-md mt8" style="color: #FFFFFF !important;"
           href="https://www.candidroot.com/contactus" target="_blank">
            <i class="fa fa-phone"></i>
            Need Our Service ?
        </a>
        <a class="btn btn-primary btn-md mt8" style="color: #FFFFFF !important;"
           href="https://apps.odoo.com/apps/modules/browse?search=candidroot" target="_blank">
            <i class="fa fa-suitcase"></i>
            Our Products
        </a>
    </div>
</section>
<div class="row pb-sm-5 px-1 pb-4">
    <h2 class="oe_slogan w-100"><a href="https://www.candidroot.com/services" style="color: #000000 !important;">Our
        Services</a></h2>
    <div class="col-12 col-sm-6 col-md-4" style="margin-bottom: 20px;">
        <div class="card"
             style="box-shadow: -1px 1px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07); border-radius: 10px; border: none; min-height: 145px;">
            <a href="https://www.candidroot.com/odoo-implementation">
                <div style="padding: 1.25rem;" class="text-center">
                    <img src="images/Implementation.png" alt="support" style="width: 100%;">
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title" style="font-size: 19px;">Odoo Implementation</h5>
                </div>
            </a>

        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4" style="margin-bottom: 20px;">
        <div class="card"
             style="box-shadow: -1px 1px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07); border-radius: 10px; border: none; min-height: 145px;">
            <a href="https://www.candidroot.com/odoo-customization">
                <div style="padding: 1.25rem;" class="text-center">
                    <img src="images/Customization.png" alt="apps" style="width: 100%;">
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title" style="font-size: 19px;">Odoo Customization</h5>
                </div>
            </a>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4" style="margin-bottom: 20px;">
        <div class="card"
             style="box-shadow: -1px 1px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07); border-radius: 10px; border: none; min-height: 145px;">
            <a href="https://www.candidroot.com/odoo-development">
                <div style="padding: 1.25rem;" class="text-center">
                    <img src="images/Development.png" alt="support" style="width: 100%;">
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title" style="font-size: 19px;">Odoo Development</h5>
                </div>
            </a>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4" style="margin-bottom: 20px;">
        <div class="card"
             style="box-shadow: -1px 1px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07); border-radius: 10px; border: none; min-height: 145px;">
            <a href="https://www.candidroot.com/odoo-migration">
                <div style="padding: 1.25rem;" class="text-center">
                    <img src="images/migration.png" alt="apps" style="width: 100%;">
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title" style="font-size: 19px;">Odoo Migration</h5>
                </div>
            </a>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4" style="margin-bottom: 20px;">
        <div class="card"
             style="box-shadow: -1px 1px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07); border-radius: 10px; border: none; min-height: 145px;">
            <a href="https://www.candidroot.com/odoo-integration">
                <div style="padding: 1.25rem;" class="text-center">
                    <img src="images/Integration.png" alt="support" style="width: 100%;">
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title" style="font-size: 19px;">Odoo Integration</h5>
                </div>
            </a>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4" style="margin-bottom: 20px;">
        <div class="card"
             style="box-shadow: -1px 1px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07); border-radius: 10px; border: none; min-height: 145px;">
            <a href="https://www.candidroot.com/odoo-consulting">
                <div style="padding: 1.25rem;" class="text-center">
                    <img src="images/Consulting.png" alt="apps" style="width: 100%;">
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title" style="font-size: 19px;">Odoo Consulting</h5>
                </div>
            </a>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4" style="margin-bottom: 20px;">
        <div class="card"
             style="box-shadow: -1px 1px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07); border-radius: 10px; border: none; min-height: 145px;">
            <a href="https://www.candidroot.com/odoo-support">
                <div style="padding: 1.25rem;" class="text-center">
                    <img src="images/Odoo Support.png" alt="support" style="width: 100%;">
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title" style="font-size: 19px;">Odoo Support</h5>
                </div>
            </a>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4" style="margin-bottom: 20px;">
        <div class="card"
             style="box-shadow: -1px 1px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07); border-radius: 10px; border: none; min-height: 145px;">
            <a href="https://www.candidroot.com/odoo-theme">
                <div style="padding: 1.25rem;" class="text-center">
                    <img src="images/Odoo Theme Development.png" alt="apps" style="width: 100%;">
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title" style="font-size: 19px;">Odoo Theme Development</h5>
                </div>
            </a>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4" style="margin-bottom: 20px;">
        <div class="card"
             style="box-shadow: -1px 1px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07); border-radius: 10px; border: none; min-height: 145px;">
            <a href="https://www.candidroot.com/odoo-cms">
                <div style="padding: 1.25rem;" class="text-center">
                    <img src="images/CMS.png" alt="support" style="width: 100%;">
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title" style="font-size: 19px;">Odoo CMS Development</h5>
                </div>
            </a>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4" style="margin-bottom: 20px;">
        <div class="card"
             style="box-shadow: -1px 1px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07); border-radius: 10px; border: none; min-height: 145px;">
            <a href="https://www.candidroot.com/odoo-ecommerce-development">
                <div style="padding: 1.25rem;" class="text-center">
                    <img src="images/E-Commerce.png" alt="apps" style="width: 100%;">
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title" style="font-size: 19px;">Odoo Ecommerce Development</h5>
                </div>
            </a>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4" style="margin-bottom: 20px;">
        <div class="card"
             style="box-shadow: -1px 1px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07); border-radius: 10px; border: none; min-height: 145px;">
            <a href="https://www.candidroot.com/odoo-mobile-application">
                <div style="padding: 1.25rem;" class="text-center">
                    <img src="images/Mobile Application.png" alt="support" style="width: 100%;">
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title" style="font-size: 19px;">Mobile Application Development</h5>
                </div>
            </a>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4" style="margin-bottom: 20px;">
        <div class="card"
             style="box-shadow: -1px 1px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07); border-radius: 10px; border: none; min-height: 145px;">
            <a href="https://www.candidroot.com/odoo-training">
                <div style="padding: 1.25rem;" class="text-center">
                    <img src="images/Odoo Training.png" alt="apps" style="width: 100%;">
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title" style="font-size: 19px;">Odoo Training</h5>
                </div>
            </a>
        </div>
    </div>
</div>
<section class="container oe_dark">
    <h2 class="oe_slogan">Please Follow Us On</h2>
    <div class="oe_slogan">
        <a class="btn btn-primary" href="https://www.facebook.com/candidrootodoo" target="_blank"
           style="background-color: #3B5998;">
            <span class="fa fa-facebook"></span>
        </a>
        <a class="btn btn-primary" style="background-color: #55ACEE;" href="https://twitter.com/candidroot"
           target="_blank">
            <span class="fa fa-twitter"></span>
        </a>
        <a class="btn btn-primary" style="background-color: #007BB6;"
           href="https://www.linkedin.com/company/candidroot-solutions-pvt-ltd/" target="_blank">
            <span class="fa fa-linkedin"></span>
        </a>
        <a class="btn btn-primary" style="background-color: #cd201f;"
           href="https://www.youtube.com/channel/UCBJPsoeB2TT_6h9dYNqsZ5A" target="_blank">
            <span class="fa fa-youtube"></span>
        </a>
        <a class="btn btn-primary" style="background-color: #444444;" href="https://github.com/candidroot"
           target="_blank">
            <span class="fa fa-github"></span>
        </a>
    </div>
</section>
